body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
ul {
  list-style: none;
}
.bold-text {
  font-weight: 600;
}
.grey-text {
  color: #8e8e8e;
}
.blue-text {
  font-size: 12px;
  font-weight: bold;
  color: #0f9bf6;
}
main {
  margin: 0 auto;
  padding: 90px 0 50px 0;
  max-width: 1000px;
}
.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-areas: 'posts' 'right'; */
  grid-gap: 2rem;
  padding: 0 20px;
}

#header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
  height: 54px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
}
.logo {
  padding-top: 6px;
}
.search-box {
  position: relative;
}
.search-holder {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}

.fa-search {
  color: #8e8e8e;
  font-size: 12px;
}
input.search {
  padding-left: 1.5rem;
  width: 100%;
  height: 1.7rem;
  background-color: #fafafa;
  outline: none;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
}
input.search::placeholder {
  font-size: 13px;
  color: #8e8e8e;
}
.nav {
  display: flex;
  margin-left: auto;
  width: fit-content;
}
.nav li {
  padding-left: 1.5rem;
}

/* Post css */
.posts-header {
  width: 100%;
  border: 1px solid #dbdbdb;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 3px;
  padding: 1rem 3rem;
  text-align: center;
}
.add-btn {
  outline: none;
  cursor: pointer;
  background-color: #0095f6;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  color: #fff;
  font-weight: bold;
}
#post {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 60px;
}
.post-header {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
  align-items: center;
  padding: 1rem;
}
.post-header .avatar {
  border-radius: 100%;
  margin-right: 10px;
}
.post-user {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}
.post-user:hover {
  text-decoration: underline;
}
.post-options {
  text-align: right;
  cursor: pointer;
}
.post-image img {
  width: 100%;
}
.post-reacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.post-reacts ul {
  display: flex;
}
.post-reacts li {
  padding: 0.5rem 1rem 0.5rem 0;
  cursor: pointer;
}
.bookmark {
  padding: 8px 0;
}
.likes {
  padding: 0 1rem;
  margin-bottom: 8px;
}
.comments {
  padding: 0 1rem;
}
p.comment {
  margin-bottom: 4px;
}
.moment {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 1rem;
}
.comment-form {
  margin-top: 0.5rem;
  border-top: 1px solid #efefef;
}
.comment-form form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  min-height: 56px;
}
.comment-form input {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  overflow: hidden;
}
.comment-form textarea::placeholder {
  font-size: 14px;
  line-height: 14px;
  font-family: 'Segoe UI';
}
.comment-form button {
  border: none;
  background-color: transparent;
  color: rgba(var(--d69, 0, 149, 246), 0.4);
  font-weight: bolder;
}
.comment-form button.focusing {
  color: rgba(var(--d69, 0, 149, 246), 1);
}

/* Profile css */
.profile-container {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 7fr 1fr;
  margin: 1.5rem 0;
}
#profile img {
  border-radius: 100%;
}
.info {
  margin-left: 0.5rem;
}
#suggestions {
  margin-bottom: 1rem;
}
.suggest-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 6fr 1fr;
  margin-bottom: 0.5rem;
}
.suggest-container .grey-text {
  font-size: 12px;
}
.suggestions-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.suggestions-text a {
  font-size: 12px;
  color: #262626;
  font-weight: 600;
}
.suggest-container img {
  border-radius: 100%;
}
.copyright {
  margin-top: 1.5rem;
  color: #c7c7c7;
  font-size: 11px;
}

.form-container {
  background-color: #fff;
  border-radius: 1x;
  max-width: 350px;
  padding: 2rem 3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid #dbdbdb;
  text-align: center;
}
.form-header {
  margin-bottom: 1rem;
}
.label {
  text-align: left;
  margin-bottom: 0.5rem;
}
.form-container input {
  outline: none;
  border: 1px solid #dbdbdb;
  padding: 3px 10px;
  border-radius: 3px;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
.form-container input::placeholder {
  font-size: 12px;
}
.avatar-holder {
  width: 120px;
  height: 120px;
  margin-bottom: 1rem;
  border-radius: 50%;
}
.avatar-input input {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
}
.form-container button {
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 5px 1rem;
  background-color: #0095f6;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  font-weight: bold;
}

.image-holder {
  position: relative;
}
.image-holder img {
  width: 100%;
}
.image-holder input {
  position: absolute;
  cursor: pointer;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

/* Responsive CSS  */
@media screen and (max-width: 800px) {
  .home-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0.5rem;
  }
  .logo,
  .search-box {
    display: none;
  }
  .header-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .nav {
    margin: 0 auto;
  }
  .nav li {
    padding: 0.8rem;
  }
  .profile-container {
    margin: 0 auto;
    padding: 0 1rem;
  }
  .posts-header {
    padding: 1rem;
  }
  #suggestions,
  .copyright {
    display: none;
  }
  .form-container {
    padding: 1rem;
  }
}

/* Loader CSS  */
.loader {
  transform: translateX(50%);
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #fff;
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
